<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Resource_Bundle/src/com/hcl/java/InternationalizationDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hcl.java.InternationalizationDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Resource_Bundle"/>
</launchConfiguration>
